body{
   
      background: rgb(25, 22, 23);
      background: linear-gradient(
        315deg, 
        rgba(25, 22, 23, 1) 0%, 
        rgba(31, 27, 27, 1) 0%, 
        rgba(28, 25, 25, 1) 18%, 
        rgba(11, 12, 13, 1) 89%
      );
      
      background-attachment: fixed;
}

h1{
    text-align: center;
    color:white;
    font-family: sans-serif;
    font-size: 300%;
    margin-top: 12.8%;
    font-weight: 500;
}

img{
    
    width: 85%;
    height: 8.5em;
    margin-right:1.5em;
    border-radius: 0.3em;
}

a:hover{
    border-color: white;
    border-width:0.7;
    color:white;
}


a{
    text-decoration: none;
}

p{
    font-weight: 500;
    font-size: 105%;
    color: grey;
    text-align: center;
    padding-top: 6.5%;
    margin-right:14.5%;
    
}

table{
    margin: 2% auto 0;
}

#gerenciar{
    letter-spacing: 0.17em;
    font-weight: 500;
    width: 14.8%;
    height: 2.4em;
    margin-left:42.3%;
    margin-top:4.1%;
    color:darkgray;
    border-width: 0.12em;
    border-color: darkgray;
    background: rgb(25, 22, 23);
      background: linear-gradient(
        315deg, 
        rgba(25, 22, 23, 1) 0%, 
        rgba(31, 27, 27, 1) 0%, 
        rgba(28, 25, 25, 1) 18%, 
        rgba(11, 12, 13, 1) 89%
      );
}

#gerenciar:hover{
    border-color:white;
    color:white;
    
}

.custom-link:hover .customi {
    border: 0.21em solid white;
    transform: none;
}

.custom-link:hover .customp {
    color: white;
}
