
body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}


body.tela_login{
     
    background-image: url(imagens/fundo%20login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

header{
    padding-left: 10%;
    padding-right: 80%;
}

header img{
    width: 140%;
    height: 99%;
}

.filtro{
    background: linear-gradient(100deg,rgba(0,0,0,69) 0%,rgba(0,0,0,0) 100%);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

#login{
    background: rgba(0,0,0,0.7);
    padding: 4.4%;
    padding-top: 3%;
    width: 32.5%;
    margin-left: 33.33%;
}

#entrarlbl{
    color:white;
    font-size: 200%;
    font-weight:bold;
    padding-bottom:0%;
   
}


.input_font{
    color:white;
    background-color: rgb(51, 51, 51,0.3);
    border-width: 0.1em;
    border-color: slategray;
    width: 99.3%;
    height: 3.45em;
    font-weight: 600;
    border-radius: 2.3%;
    padding-left: 4.5%;
    margin-bottom: 5.2%;
    margin:center;
}



input::placeholder {
    color: darkgrey;
    margin-left: 20%;

}

input:placeholder:focus{
    color:red;
}


.botao{
    color:white;
    width: 99.3%;
    height: 2.8em;
    border-radius: 0.4em;
    text-align: center;
}

#entrar{
    background-color: #EB1313;
    font-weight: 600;
    
}

#ou{
    color:darkgray;
    text-align: center;
    margin-top: 4.8%;
    margin-bottom: 0%;
}

#codigo{
    margin-top: 2.7%;
    background-color: rgba(100, 100, 100, 0.5);
}

#codigo:hover{
    background-color:rgba(100, 100, 100, 0.4);
}

#entrar:hover{
    background-color: #D61111; 
    animation-duration: 100;
}

#esq_senha{
    text-align: center;
    padding-top: 2.7%;
}
#esq_senha:hover{
    text-decoration: underline;
}

.cor_branca{
    color:white;
    text-decoration: none;
}

input[type="checkbox"]{
    appearance: none;
    width: 1.12em;
    height:1.12em;
    background: rgba(0,0,0,0.7);
    border:solid;
    border-width: 0.1em;
    border-color: slategray;
    cursor:pointer;
    border-radius:0.2em;    
    display:inline-flex;
    
}

input[type="checkbox"]:hover {
      border-color: white;
      transition: border-color 0.3s
    }


input[type="checkbox"]:checked{
    
    color:black;
    background-color: white;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked::after {
      content: "✓";
      font-weight: 900;
    }

input[type="checkbox"]:checked:hover{
    background-color: darkgrey;
    transition: background-color 0.3s;
    border:none;
}

label{
    padding-left: 3%;
}

.cor_cinza{
    color: darkgray;
    padding-top:2.7%;
}


#assine_agora{
    padding-left: 1%;
    font-weight: 600;
}
#assine_agora:hover{
    text-decoration: underline;
}

p#diminuir_fonte{
    font-size: 80%;
    padding-top: 1.3%;
}

#saiba_mais{
    text-decoration: none;
}

#saiba_mais:hover{
    text-decoration: underline;
}